@font-face {
	font-family: 'DIN Next';
	src: url('DINNextLTPro-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

body {
	background-color:black;
			overflow-x: hidden;
	width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "DIN Next";
  color:white;
}


::-webkit-scrollbar {
	display: none;
}

div#topDiv {
    text-align: center;
    font-size: 3vw;
    /* margin-top: 30px; */
}

.textParent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#nameDiv {
    height: 17vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hello {
	margin: 0px;
}

#helloDiv {
    height: 17vh;
    display: flex;
    flex-direction: column-reverse;
}

#epicDivisorParent {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
}

.epicDivisor {
    width: 100%;
    background-color: white;
    height: 1vh;
	opacity: 0;
	mix-blend-mode: exclusion;
    /* display: grid; */
}

.epicMap {
	height: 34vh;
	width: 100%;
	z-index:1;
}

#map2 {
    position: absolute;
    height: 34vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#map {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
}

#epicDivisorParent2 {
    position: absolute;
    height: 34vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#whiteBox {
	width: 100vw;
	background-color: white;
	height: 5px;
}

#topFlex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

#leftStuff, #rightStuff {
    width: 33.33vw;
	z-index:-1;
}

#bodyStuff {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}
