@font-face {
	font-family: 'DIN Next';
	src: url('DINNextLTPro-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

body {
	background-color:black;
			overflow-x: hidden;
	width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "DIN Next";
  color:white;
}


::-webkit-scrollbar {
	display: none;
}

div#topDiv {
    text-align: center;
    font-size: 3vw;
    /* margin-top: 30px; */
}

.textParent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#nameDiv {
    height: 17vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hello {
	margin: 0px;
}

#helloDiv {
    height: 17vh;
    display: flex;
    flex-direction: column-reverse;
}



#epicDivisorParent {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
}

.epicDivisor {
    width: 100%;
    background-color: white;
    height: 1vh;
	opacity: 0;
	mix-blend-mode: exclusion;
    /* display: grid; */
}

.epicMap {
	height: 34vh;
	width: 100%;
	z-index:1;
}

#map2 {
    position: absolute;
    height: 34vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#map {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
}

#epicDivisorParent2 {
    position: absolute;
    height: 34vh;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#whiteBox {
	width: 100vw;
	background-color: white;
	height: 5px;
}

#topFlex {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

#leftStuff, #rightStuff {
    width: 33.33vw;
	z-index:-1;
}

#bodyStuff {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
}

@media (orientation: portrait) {
	#helloDiv, #nameDiv {
		font-size: 8vw;
	}
	#leftStuff, #rightStuff {
		width: 10vw;
		z-index:-1;
	}	
	#wave > svg {
		width:300vw!important;
	}
	.item {
		flex: 0 0 calc(50% - 20px)!important;
	}
	#socialsGrid > .item > div > a >img {
		width: 7vw!important;
	}	
}

#wave {
    position: absolute;
    height: 34vh;
    width: 100vw;
    z-index: 0;
    top: 0;
	mix-blend-mode:exclusion;
	overflow: hidden;
}

#tiles {
	height: 34vh;
	width: 100%;
  position: absolute;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
	background-color: white;
	mix-blend-mode:exclusion;
}

.item {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 20px);
    /* padding: 20px; */
    margin: 10px;
    box-sizing: border-box;
	overflow: hidden;
}

.yesOverflow {
	overflow: visible!important;
}

.border {
    border: white 9px double;	
    border-radius: 25px;	
}

/* .grid { */
    /* display: grid; */
    /* ////grid-column: 2; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* width: auto; */
    /* grid-gap: 16px; */
/* } */


.grid {
    /* display: grid; */
    /* ////grid-column: 2; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* width: auto; */
    /* grid-gap: 16px; */	
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item > div > a > img {
	width:100%
}

.item > div > a{
	width:100%
}

.imgDiv {
    height: 100%;
    display: flex;
    align-items: center;
}

.inline {
	display:inline;
}

#socialsDiv {
    display: flex;
    justify-content: center;
}

#socialsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3vw;
}

#socialsGrid > .item > div > a >img {
    width: 5vw;
	height: auto;
}

#bodyStuff > h1 {
	text-align:center;
	margin-top:2em;
}
